@{
    ViewData["Title"] = "Profile in Draft";
}
<div class="row">
    <h2 class="col-md-4 col-md-offset-4">Profile in Draft Mode</h2>
    <p class="col-md-4 col-md-offset-4">Your profile is currently in draft mode so is not visible on the site. Go to the @Html.ActionLink("Edit Profile", "EditMyProfile") page to publish your profile.</p>
</div>