
@{
    ViewData["Title"] = "Profile Submitted";
}
<div class="row">
    <h2 class="col-md-4 col-md-offset-4">Profile Submitted</h2>
    <p class="col-md-4 col-md-offset-4">Thank you for creating your profile! If approved, your profile will be published on the site and you will be able to search other user profiles. If your account is not approved within five business days, please contact an administrator.</p>
</div>

