@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Coders Directory is a networking tool for coding students. Users can create a profile and search other users' profiles by name, programming language or geographic area. It was created by Annette Arrigucci as a personal project using ASP.NET Core MVC. Email her at <a href="mailto:annette.arrigucci@gmail.com" target="_blank">annette.arrigucci@gmail.com</a>.</p>
