@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Coders Directory is a networking tool for coding students to connect. Users can create a profile and search other users' profiles by programming language or geographic area.</p>
