@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Questions or comments?</strong>
    <strong>Contact Coders Directory creator Annette Arrigucci</strong> <a href="mailto:annette.arrigucci@gmail.com">annette.arrigucci@gmail.com</a><br />
</address>
